:root {
    --white: #fff;
    --backg: #219EBC;
    --navy: #000080;

    --black: #000;
    --call: #FB8500;

    --header: #023047;
    --background: #e0e5e9;
    --font-color: #262626;
    --highlight1: #eee;
    --highlight2: #bed;
    --highlight3: #ddd;
    --highlight4: aliceblue;


    --hover: rgba(255, 254, 254, 0.1);
    --image-shadow: 0 2px 16px rgba(0, 0, 0, 0.8);
    --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --active-class: rgba(0, 0, 0, 0.2);

    --heading-font: "Tinos", serif;
    --paragraph-font:  "Lato", sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    height: auto;
    max-width: 1200px;
    margin: auto;
}

header {
    font-family: var(--heading-font);
    background-color: var(--header);
    color: var(--white); 
    padding: 2rem;
    display: grid;
    grid-template-columns: 44px auto 44px;
    align-items: center;
    gap: 40px;

}

.head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.head h1 {
    margin: 0;
}
    
h1 {
    font-size: 2.5rem;
}

.head p {
    font-size: smaller;
    margin: 0;
}

nav {
    background-color: var(--backg);
}

/* Hamburger Icon */
#ham::before {
    content: "\2630";
}

 /* Hamburger Menu */
 #ham {
    font-size: 2.5rem;
    font-weight: 400;
    cursor: pointer;
    background-color: var(--header);
    padding: .25rem 2vw;
    border: none;
    color: var(--white);
    width: 100%;
    text-align: right;
}

ul.menu li a {
    display: block;
    padding: .75rem 2vw;
    color: var(--navy);
    text-decoration: none;
}

li.current-menu-item a {
    font-weight: bold;
}

ul.menu {
    list-style-type: none;
}

ul.menu a:hover {
    text-decoration: underline;
}

ul.menu a:visited {
    color: var(--black);
}

#ham.open::before {
    content: "X";
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul{
    overflow: hidden;
}

nav.open {
    grid-template-rows: 1fr;
}

.form-container h1 {
    color: var(--header);
    text-align: center;
}

main {  
    display: flex;  
    flex-direction: column;  
    gap: 20px;
    background-color: var(--background);
    font-family: var(--paragraph-font);
}

.hero {  
    position: relative;  
    text-align: center;  
}  

.hero img {  
    width: 100%;
    height: auto;
}  

.action-button {  
    position: absolute;  
    background-color: var(--call);  
    color: var(--black);  
    padding: 15px 30px; 
    text-decoration: none;  
    border: 4px var(--background);
    bottom: 100px;
    left: 30%;
} 

.action-button:hover {
    background-color: var(--header);
    color: var(--white);
}

.container {  
    max-width: 1200px;  
    margin: 2rem auto;  
} 

/* .cards {  
    display: flex;  
    gap: 20px;
    flex-direction: column; 
}   */

/* Card styles */  
.card, .member-card {  
    background-color: var(--white);  
    border: 1px solid #e0e0e0;  
    border-radius: 8px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    transition: transform 0.2s;  
    padding-bottom: 15px;

} 

.card {
    background-color: var(--highlight2);
}

.member-card {
    background-color: var(--highlight4);
}

.card:hover {  
    transform: scale(1.02);   
} 

.current-weather, 
.three-day-forecast {
    text-align: center;
}

.current-weather h2, 
.three-day-forecast h2, 
.member-card h2 {
    padding-bottom: 1rem;
    font-size: 1.8rem;
}

.current-events h2, 
.current-weather h2, 
.three-day-forecast h2 {
    background-color: var(--header);
    color: var(--white);
    padding: 16px 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
}

.three-day-forecast div {
    padding-top: 10px;
}

/* Event section takes double space */  
.current-events {  
    flex: 2;  
} 

.current-events ul {
    padding-left: 50px;
    padding-top: 10px;
}

.current-events li,
.current-weather p, 
.three-day-forecast p, 
.spotlight-members p {
    padding: 8px;  
}

/* Spotlight members */  
.member-card h2 {  
    background-color: var(--backg);  
    text-align: center;
    padding: 16px 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}  

.weather {
    text-align: center;
    background-color: var(--highlight2);
}

.weather h2 {
    font-size: 1.1rem;
    background-color: var(--header);
    color: var(--white);
    padding: 1rem;
}

.weather p {
    padding: 5px;
}

.discover-page {
    margin: 0 auto;
    display: grid;
    gap: 0.75rem;
    grid-template-areas: 
    "aside"
    "section";
}

.sidebar {
    grid-area: aside;
}

.main-content {
    grid-area: section;
}

.main-content h2 {
    text-align: center;
}

#image-gallery div {
    margin: 1rem 8px;
    border: 1px solid #999;
    background-color: #eee;
    border-radius: 8px;
    overflow: hidden;

    display: grid;
    grid-template-areas: 
    "name"
    "photograph"
    "description"
    "location";
}

#image-gallery div h2 {
    margin: 1rem 10px;
    grid-area: name;
    text-align: center;
}

#image-gallery div img {
    width: 100%;
    grid-area: photograph;
}

#image-gallery img:hover {
    background-color: rgba(0, 0, 0, 0.3);
    /* transform: 0.5s; */
}

#image-gallery div p {
    margin: 1rem 10px;
    grid-area: description;
}

#image-gallery div address {
    margin: 1rem 10px;
    grid-area: location;
}

table {
    margin: 1rem auto;
}

.calendar-controls {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border-bottom: 2px solid #000;
    padding: .8rem;
    align-items: flex-end;
}

#calendar button {
    background-color: var(--navy);
    color: var(--white);
    border: none;
    padding: 5px 8px;
    cursor: pointer;
    font-weight: bold;
}

#calendar button:hover {
    background-color: var(--header);
}

#current-month-year {
    margin: 0 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

#calendar th, #calendar td {
    padding: 5px;
    text-align: center;
    width: 14.28%; 
}

.today {
    background-color: var(--call); 
    font-weight: bold;
    border-radius: 50%;
}

#events, 
#demographics, 
.weather,
#calendar,
.map {
    margin: .5rem;
    text-align: center;
    border: 1px solid #000;
    background-color: var(--highlight4);
}

.map iframe {
    width: 100%;
}

.sidebar h2 {
    text-align: center;
    background-color: var(--header);
    padding: .8rem;
    color: var(--white);
}

#events h2, #calendar h2 {
    background-color: var(--backg);
    color: var(--navy);
}

#events li, 
#demographics li {
    list-style-type: none;
    padding: 5px;
}

.label {
	font-family: Arial, sans-serif;
	font-weight: 700;
}

#visitor-message {
	color: navy;
	font-weight: bolder;
	font-size: larger;
    padding: 1rem;
    text-align: center;
    font-style: italic;
}
  
.member-image {  
    max-width: 100%;  
    height: auto;  
    border-radius: 4px;  
}

.view {
    margin: 0 auto;
    border: var(--card-shadow);
    padding: .5rem;
    text-align: center;
}

.view button {
    padding: .5rem;
    cursor: pointer;
    background-color: var(--highlight2);
}

.grid {
    display: grid;
    gap: 5px;
    align-items: center;
}

.grid section {
    text-align: center;
}

.grid img {
    border: 1px solid var(--white);
    box-shadow: var(--image-shadow);
    padding-bottom: 2rem;
    justify-content: center;
    width: 80%;
}

.grid section > * {
    margin: 0.1rem;
}

.grid h3 {
    font-size: 1.3rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
    background-color: var(--header);
    color: var(--white);
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
    grid-template-rows: 1fr;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none;
}

.list section h3 {
	font-size: 1rem;
}

.list section:nth-child(even) {
	background-color: var(--highlight2);
}

.grid address {
    padding-top: 1.5rem;
    padding-bottom: .5rem;
}

#members a {
	font-size: 0.85rem;
	color: #001f3f;
	letter-spacing: 1.1pt;
    font-style: italic;
}

.member-img {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

form {
    padding: 1rem;
    border-radius: .5rem;
}

label {
    display: block;
    font-size: 1.2rem;
    color: var(--navy);
    padding-top: .2rem;
}

input[type=text],
input[type=tel],
input[type=email],
select,
textarea {
    display: block;
    margin: .1rem 0 1rem 0 ;
    padding: .8rem;
    border: 1px solid #999;
    border-radius: .4rem;
    border-left-width: 5px;
    border-left-color:#555;
    font-size: 1rem;
    color: var(--black);
    width: 100%;
}

input:required {
    border-left-color: #d70000;
}

input:focus {
    border-left-color: black; 
    outline:none;
}

input:required:valid {
    border-left-color: green;
}

select {
    color: var(--font-color);
}

input[type=submit] {
    border: none;
    text-align: center;
    background-color: var(--header);
    color: var(--white);
    border-radius: .4rem;
    padding: .85rem 1.5rem;
    width: 100%;
    margin: 2rem 0;
    font-size: 1.2rem;
}

input[type="submit"]:hover {
    background-color: var(--backg);
    color: var(--navy);
}

@keyframes fadeInScale {  
    0% {  
        opacity: 0; 
        transform: scale(0.8);  
    }  
    100% {  
        opacity: 1; 
        transform: scale(1);
    }  
}  

.membership-card {  
    animation: fadeInScale 0.5s ease forwards;  
    text-align: center;  
    padding: 1.5rem; 
    margin: 1rem auto;
    width: 100%;  
    border: none;  
    border-radius: 1rem;  
    color: var(--white);  
    background-color: var(--header);  
    opacity: 0;  
}

.membership-card h3 {
    padding-bottom: 1.5rem;
}

.membership-card a {
    background-color: var(--backg);
    color: var(--black);
    padding: .3rem .8rem;
    text-decoration: none;
    border-radius: .5rem;
}

.membership-card.color-1 {  
    background-color: var(--backg);
    color: var(--navy); 
}  

.membership-card.color-1 a {
    background-color: var(--header);
    color: var(--white);
}

.membership-card.color-2 {  
    background-color: var(--header);
    color: var(--white);
}

.membership-card.color-2 a {
    background-color: var(--backg);
    color: var(--navy);
}

dialog {
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: .25rem;
    padding: 2rem;
    background-color: var(--white);
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
}

::backdrop {
    background-color: rgb(0 0 0 / 0.7);
}

dialog button {
    position: absolute;
    top: 23px;
    right: 23px;
    padding: .5rem 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
}

.thank-you-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
   
}

.thank-you-container ul {
    list-style-type: none;
}

.thank-you-container h3 {
    padding-top: 1rem;
}

.thank-you-container li {
    padding: .6rem;
    color: var(--navy);

}

.thank-you-container a {
    text-decoration: none;
    background-color: var(--header);
    color: var(--white);
    padding: 8px;
    border-radius: .5rem;
}

.thank-you-container a:hover {
    background-color: var(--backg);
    color: var(--navy);

} 
    
.card {  
    margin: 0;  
}
.current-weather img {
    width: 30%;
}

.chamber-contact-info, 
.social-media-links {
    text-align: center;
    padding: 1rem;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 20px;
}

footer {
    display: flex;
    background-color: var(--header);
    color: var(--white);
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.chamber-contact-info,
.social-media-links,
.project-info {
    margin: 10px 0;
    text-align: center;
}

.social-media-links a {
    margin: 0 10px;
}

.project-info {
    font-size: 0.9em;
}