:root {
    --white: #fff;
    --backg: #219EBC;
    --navy: #000080;

    --black: #000;
    --call: #FB8500;

    --header: #023047;
    --background: #e0e5e9;
    --font-color: #262626;
    --highlight1: #eee;
    --highlight2: #bed;
    --highlight3: #ddd;
    --highlight4: aliceblue;


    --hover: rgba(255, 254, 254, 0.1);
    --image-shadow: 0 2px 16px rgba(0, 0, 0, 0.8);
    --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --active-class: rgba(0, 0, 0, 0.2);

    --heading-font: "Tinos", serif;
    --paragraph-font:  "Lato", sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    height: auto;
    max-width: 1100px;
    margin: auto;
}

header {
    font-family: var(--heading-font);
    background-color: var(--header);
    color: var(--white);
    padding: 2rem 2rem 2rem 5rem;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: left;
}

.head {
    display: flex;
    flex-direction: column;
}

.head h1 {
    font-size: 3rem;
    margin: 0;
}

.head p {
    font-size: 1.2rem;
    margin: 0;
}

.form-container h1 {
    color: var(--header);
    text-align: center;
}


/* Navigation */

nav {
    background-color: var(--backg);
    padding: 1.5rem;
    
}

ul.nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    list-style-type: none;
}

li.current-menu-item a {
    font-weight: bold;
}

nav a {
    color: var(--navy);
    display: block;
    font-size: 1.1rem;
    font-weight: 450;
    text-decoration: none;
    text-align: center; 
}

nav a:hover {
    text-decoration: underline;
    color: var(--black);
}

nav a:visited {
    color: var(--black);
}

#ham {
    display: none;
}

main {  
    display: flex;  
    flex-direction: column;  
    gap: 20px;
    background-color: var(--background);
    font-family: var(--paragraph-font);
}

.hero {  
    position: relative;  
    text-align: center;  
}  

.hero img {  
    width: 100%;
    height: auto;
}  

.action-button {  
    position: absolute;  
    bottom: 80px;  
    left: 75%;  
    background-color: var(--call);  
    color: var(--black);  
    padding: 15px 30px; 
    text-decoration: none;  
    border: 4px var(--background);
} 

.action-button:hover {
    background-color: var(--header);
    color: var(--white);
}

.container {  
    max-width: 1200px;  
    margin: 2rem auto;  
} 

.cards {  
    display: flex;  
    gap: 20px; 
}  

/* Card styles */  
.card, .member-card {  
    background-color: var(--white);  
    border: 1px solid #e0e0e0;  
    border-radius: 8px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    transition: transform 0.2s;  
    flex: 1;
    padding-bottom: 15px;

} 

.card {
    background-color: var(--highlight2);
}

.member-card {
    background-color: var(--highlight4);
}

.card:hover {  
    transform: scale(1.02);   
} 

.current-weather, 
.three-day-forecast {
    text-align: center;
}

.current-weather h2, 
.three-day-forecast h2, 
.member-card h2 {
    padding-bottom: 1rem;
    font-size: 1.4rem;
}

.current-events h2, 
.current-weather h2, 
.three-day-forecast h2 {
    background-color: var(--header);
    color: var(--white);
    padding: 16px 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
}

.three-day-forecast div {
    padding-top: 10px;
}

/* Event section takes double space */  
.current-events {  
    flex: 2;  
} 

.current-events ul {
    padding-left: 50px;
    padding-top: 10px;
}

.current-events li,
.current-weather p, 
.three-day-forecast p, 
.spotlight-members p {
    padding: 8px;  
}

.current-weather img {
    width: 50%;
}

/* Spotlight members */  
.spotlight-members, .grid {  
    display: flex;  
    gap: 20px; 
    margin-top: 30px; 
    margin-bottom: 20px;
    text-align: center;
}

.member-card h2 {  
    background-color: var(--backg);  
    text-align: center;
    padding: 16px 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}  

/* Responsive member image */  
.member-image {  
    max-width: 100%;  
    height: auto;  
    border-radius: 4px;  
}

#members {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

.view {
    margin: 0 auto;
    border: var(--card-shadow);
    padding: .5rem;
    text-align: center;
}

.view button {
    padding: .5rem;
    cursor: pointer;
    background-color: var(--highlight2);
}

.grid {
    display: grid;
    gap: 5px;
    align-items: center;
}

.grid section {
    text-align: center;
}

.grid img {
    border: 1px solid var(--white);
    box-shadow: var(--image-shadow);
    padding-bottom: 2rem;
    justify-content: center;
    width: 80%;
}

.grid section > * {
    margin: 0.1rem;
}

.grid h3 {
    font-size: 1.3rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
    background-color: var(--header);
    color: var(--white);
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
    grid-template-rows: 1fr;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none;
}

.list section h3 {
	font-size: 1rem;
}

.list section:nth-child(even) {
	background-color: var(--highlight2);
}

.grid address {
    padding-top: 1.5rem;
    padding-bottom: .5rem;
}

#members a {
	font-size: 0.85rem;
	color: #001f3f;
	letter-spacing: 1.1pt;
    font-style: italic;
}

.member-img {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

form {
    margin: 1rem 2%;
}

label {
    display: block;
    font-size: 1.2rem;
    color: var(--navy);
    padding-top: .2rem;
}

input[type=text],
input[type=tel],
input[type=email],
select,
textarea {
    display: block;
    margin: .1rem 0 1rem 0 ;
    padding: .8rem;
    border: 1px solid #999;
    border-radius: .4rem;
    border-left-width: 5px;
    border-left-color:#555;
    font-size: 1rem;
    color: var(--black);
    width: 400px;
}

input:required {
    border-left-color: #d70000;
}

input:focus {
    border-left-color: black; 
    outline:none;
}

input:required:valid {
    border-left-color: green;
}

select {
    color: var(--font-color);
}

input[type=submit] {
    border: none;
    text-align: center;
    background-color: var(--header);
    color: var(--white);
    border-radius: .4rem;
    padding: .85rem 1.5rem;
    width: 80%;
    margin: 2rem 0;
    font-size: 1.2rem;
}

input[type="submit"]:hover {
    background-color: var(--backg);
    color: var(--navy);
}

@keyframes fadeInScale {  
    0% {  
        opacity: 0; 
        transform: scale(0.8);  
    }  
    100% {  
        opacity: 1; 
        transform: scale(1);
    }  
}  

.membership-card {  
    animation: fadeInScale 0.5s ease forwards;  
    text-align: center;  
    margin: 20px;  
    padding: 1.5rem 0;   
    width: 80%;  
    border: none;  
    border-radius: 1rem;  
    color: var(--white);  
    background-color: var(--header);  
    opacity: 0;  
}

.membership-card h3 {
    padding-bottom: 1.5rem;
}

.membership-card a {
    background-color: var(--backg);
    color: var(--black);
    padding: .3rem .8rem;
    text-decoration: none;
    border-radius: .5rem;
}

.membership-card.color-1 {  
    background-color: var(--backg);
    color: var(--navy); 
}  

.membership-card.color-1 a {
    background-color: var(--header);
    color: var(--white);
}

.membership-card.color-2 {  
    background-color: var(--header);
    color: var(--white);
}

.membership-card.color-2 a {
    background-color: var(--backg);
    color: var(--navy);
}

dialog {
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: .25rem;
    padding: 2rem;
    background-color: var(--white);
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
}

::backdrop {
    background-color: rgb(0 0 0 / 0.7);
}

dialog button {
    position: absolute;
    top: 23px;
    right: 23px;
    padding: .5rem 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
}

.thank-you-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
   
}

.thank-you-container ul {
    list-style-type: none;
}

.thank-you-container h3 {
    padding-top: 1rem;
}

.thank-you-container li {
    padding: .6rem;
    color: var(--navy);

}

.thank-you-container a {
    text-decoration: none;
    background-color: var(--header);
    color: var(--white);
    padding: 8px;
    border-radius: .5rem;
}

.thank-you-container a:hover {
    background-color: var(--backg);
    color: var(--navy);

}



footer {
    background-color: var(--header);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.chamber-contact-info,
.social-media-links,
.project-info {
    text-align: left;
    flex: 1;
    margin-left: 50px;
}



@media (max-width: 650px) {
    header {
        gap: 5px;
    }

    .head {
        justify-content: space-between;
    }
        
    h1 {
        font-size: 1.5rem;
    }
    
    .head p {
        font-size: smaller;
    }

    ul.nav {
        grid-template-columns: 1fr;
    }

    nav {
        grid-template-rows: auto;
        overflow: hidden;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.5s ease-out;
    }

    nav a {
        text-align: left;
    }

    .nav {
        max-width: 760px;
        margin: 0;
        padding: 0;
    }

     /* Hamburger Menu */
     #ham {
        display: block;
        font-size: 2.5rem;
        font-weight: 400;
        cursor: pointer;
        background-color: var(--header);
        text-decoration: none;
        padding: .25rem 2vw;
        border: none;
        color: var(--white);
        width: 100%;
        text-align: right;
    }
    
    /* Hamburger Icon */
    #ham::before {
        content: "\2630";
    }
    
    #ham.open::before {
        content: "X";
    }

    /* Hide links by default */
    .nav li {
        display: none;

    }

    /* Show links when menu is open */
    .open li {
        display: block;  
    }

    .current-events h2, 
    .current-weather h2,
    .three-day-forecast h2,
    .spotlight-members h2 {
        font-size: 1.8rem;
    } 

    .action-button {
        bottom: 100px;
        left: 30%;
    }
    
    .cards, 
    .spotlight-members {  
        flex-direction: column;  
    }  
    
    .card {  
        margin: 0;  
    }

    .current-weather img {
        width: 30%;
    }
    
    .chamber-contact-info, 
    .social-media-links {
        text-align: center;
        padding: 1rem;
    }

    .form-container {
        grid-template-columns: 1fr;
    }


    footer {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .chamber-contact-info,
    .social-media-links,
    .project-info {
        margin: 10px 0;
        text-align: center;
    }

    .social-media-links a {
        margin: 0 10px;
    }

    .project-info {
        font-size: 0.9em;
    }
}